/* Tag Styles */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  position: relative;
}

h1 {
	font-family: 'Poppins', 'sans-serif';
	font-weight: 600;
	font-size: 22px;
}

h2 {
	font-family: 'Poppins', 'sans-serif';
	padding-top: 10px;
	font-weight: 600;
	font-size: 20px;
	color: #2375F0;
}

h3 {
	font-family: 'Poppins', 'sans-serif';
	font-weight: 400;
	font-size: 18px;
}

h4 {
	font-family: 'Raleway', 'sans-serif';
	font-size: 18px;
	font-weight: 400;
}

h5 {
	font-family: 'Poppins', 'sans-serif';
	font-size: 16px;
	font-weight: 600;
}

h6 {
	font-family: 'Poppins', 'sans-serif';
	font-size: 18px;
	font-weight: 600;
	color: #000000;
}

a {
	font-family: 'Raleway', 'sans-serif';
	font-size: 16px;
	font-weight: 400;
}

p {
	font-family: 'Raleway', 'sans-serif';
	font-size: 16px;
	font-weight: 400;
}

div.detail-bubbles {
	background-color: #2375F0;
	color: #fff;
	border-radius: 20px;
	padding: 5px 10px;
	font-size: 14px;
	font-family: 'Raleway', 'sans-serif';
	margin-top: 10px;
	margin-left: 10px;
}

ul, li, td, tr, figcaption {
	font-family: 'Raleway', 'sans-serif';
	font-size: 16px;
	font-weight: 400;
}

figcaption {
	text-align: center;
}

.img-style {
	width: 500px;
	height: 330px;
}

.img-project {
	max-width: 450px;
	width: 100%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #eee;
	border-radius: 8px;
}

.flex-column {
    max-width: 260px;
}
        
.scale {
	transform: scaleY(1.05);
	padding-top: 5px; 
}

.img-fluid {
	margin: 5px;
}

.alignfull {
	width: 100vw;
	position: relative;
	left: 50%;
	margin-left: -50vw;
}

.alignfull img {
	width: 100%;
}

.card-subtitle {
	color: #2375F0;
}

.project-card {
	align-items: center;
}

.quote {
	background-color: #f6f6f6;
	border-radius: 8px;
	padding: 20px 20px 10px 20px;
}

/* Header Styles */
.header {
	overflow: hidden;
	background-color: #ffffff;
	padding: 30px 0px 0px 0px;
	z-index: 1000;
	border-bottom: 2px solid #f2f2f2;
}

.header a {
	float: left;
	color: black;
	text-decoration: none;
	font-size: 16px;
	line-height: 25px;
	border-radius: 4px;
}

.header, a.logo {
	font-size: 35px;
	font-weight: 600;
	font-family: 'Poppins', 'sans-serif';
}

a:hover {
	text-decoration: none;
}

.nav {
	margin-bottom: 30px;
}

a.nav-style {
	font-size: 14px;
	color: #E6E6E6;
	padding: 5px;
}

a.nav-style:hover {
	color: #2375F0;
	transition: color 0.5s ease;
}

.banner {
	text-align: left;
}

.fa-linkedin:hover, .fa-medium:hover, .fa-dribbble-square:hover, .fa-github:hover, .fa-paper-plane:hover, .fa-file-alt:hover {
	color: #2375F0;
	transition: color 0.5s ease;
}

.footer-icons {
	font-size: 30px;
	color: #AAAAAA;
}

.nav-icons {
	margin: 5px;
	font-size: 35px;
	color: #E6E6E6;
}

.container-fluid {
	width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

#resume {
	display: flex;
	justify-content: center;
}

#resume-header, #resume-time {
	color: #C4C4C4;
}

/* Buttons */
.button {
	background-color: #ffffff;
	border: solid 1px black;
	color: black;
	padding: 10px 20px 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	border-radius: 30px;
	font-family: 'Poppins', 'sans-serif';
	font-weight: 600;
	font-size: 16px;
}

.button:hover {
	background-color: #2375F0;
	color: white;
	border: solid 1px white;
	transition: 0.5s ease;
}

.button-right {
	display: flex;
	justify-content: flex-end;
}

.btn {
	font-family: 'Poppins', 'sans-serif';
	border-radius: 30px;
	background-color: #ffffff;
	border: solid 1px black;
	color: black;
	padding: 10px 15px;
	font-weight: bold;
}

/* Misc */
.hr {
	padding: 10px;
}

/* Footer */
.footer {
	padding: 30px;
	margin-top: 50px;
	border-top: 1px solid #d7d7d7;
	text-align: left;
	background-color: #ffffff;
	color: #b7b7b7;
	text-align: center;
}

.container {
	align-items: flex-start;
	width: 100%;
	margin: 0 auto;
}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}

/* Slideshow container */
.slideshow-container {
  position: relative;
  background: #ffffff;
}

/* Slides */
.mySlides {
  display: none;
  padding: 50px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #ddd;
  color: #ffffff;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
    background: #fff;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Active Dot on Slider */
.active, .dot:hover {
  background-color: #2375F0;
}

/* Quote Styling */
q {
	font-style: italic;
	font-family: 'Raleway', 'sans-serif';
	font-weight: 400;
	font-size: 16px;
}

.author {
	color: #2375F0;
	font-family: 'Raleway', 'sans-serif';
	font-size: 16px;
}

/* Responsive iframe */
.slides-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 35px;
	height: 0;
	overflow: hidden;
}

.slides-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

div.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background-color: #F6F6F6;
	padding: 5px;
	margin-bottom: 10px;
	text-align: center;
	z-index: 1;
	padding-left: 0px;
}

.profile-image {
	margin-left: auto;
	margin-right: auto;
	display: block;
	border-radius: 6px;
}

.card-spacing {
	padding-top: 10px;
}

.responsive {
	width: 90%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	display: block;
}

/* Icon Styles */
.icons {
	width: 30%;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	display: block;
	padding-bottom: 20px;
}

.company-icons {
	width: 75%;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	display: block;
}

/* Accordion Styles */
.panel-group .panel {
    border-radius: 0;
    box-shadow: none;
    border-color: #EEEEEE;
    }

.panel-default > .panel-heading {
    padding: 0;
    border-radius: 0;
    color: #212121;
    background-color: #FAFAFA;
    border-color: #EEEEEE;
}

.panel-title {
    font-size: 14px;
}

.panel-title > a {
    display: block;
    padding: 15px;
    text-decoration: none;
}

.more-less {
    float: right;
    color: #212121;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #EEEEEE;
    padding: 10px 20px;

}

/* Carousel Indicators */
.carousel-indicators li {
	background-color: #999;
	opacity: 0.4;
}

.carousel-indicators .active {
	background-color: #444;
	opacity: 0.5;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
	filter: invert(100%);
	opacity: 0.4;
}

a.carousel-control-prev {
	color: #000;
}

/* Responsive Design for different screens */
@media only screen and (max-width: 676px) {
	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
	}

	body {
		margin: 30px;
	}

	.mobile-space-top {
		margin-top: 30px;
	}

	.center {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}

	.nav-icons {
		margin: 2px;
		font-size: 50px;
		color: #E6E6E6;
	}

	.company-icons {
		width: 150%;
		height: auto;
		margin-right: auto;
		margin-left: auto;
		display: block;
	}

	.button-mobile {
		display: flex;
		justify-content: space-evenly;
	}
}

@media only screen and (max-width: 768px) {	
	h1, h2, h3 {
		text-align: center;
	}

	body {
		margin: 30px;
	}	

	.header a {
		float: none;
		padding-left: 0px;
	}

	p {
		text-align: center;
	}

	.center {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		display: block;
		padding-top: 10px;
	}

	.nav-icons {
		margin: 5px;
		font-size: 45px;
		color: #E6E6E6;
	}

	.responsive {
		width: 80%;
		height: auto;
		margin-left: auto;
		margin-right: auto;
		padding: 10px;
		display: block;
	}

	.linkLabel {
		display: none;
	}

	ul.nav {
		padding: 5px;
	}

}

@media only screen and (max-width: 990px) {

	body {
		margin: 30px;
	}

	.nav-icons {
		margin: 5px;
		font-size: 35px;
		color: #E6E6E6;
	}


	.linkLabel {
		display: none;
	}

}

