/* Tag Styles */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  position: relative;
}

h1 {
	font-family: 'Poppins', 'sans-serif';
	font-weight: 600;
	font-size: 28px;
}

h2 {
	font-family: 'Poppins', 'sans-serif';
	padding-top: 10px;
	font-weight: 600;
	font-size: 24px;
	color: #2375F0;
}

h3 {
	font-family: 'Poppins', 'sans-serif';
	font-weight: 400;
	font-size: 18px;
}

h4 {
	font-family: 'Raleway', 'sans-serif';
	font-size: 18px;
	font-weight: 400;
	text-align: center;
}

h5 {
	font-family: 'Poppins', 'sans-serif';
	font-size: 16px;
	font-weight: 600;
}

h6 {
	font-family: 'Poppins', 'sans-serif';
	font-size: 14px;
}

a {
	font-family: 'Raleway', 'sans-serif';
	font-size: 14px;
	font-weight: 400;
}

p {
	font-family: 'Raleway', 'sans-serif';
	font-size: 14px;
	font-weight: 400;
}

ul, li, td, tr, figcaption {
	font-family: 'Raleway', 'sans-serif';
	font-size: 14px;
	font-weight: 400;
}

figcaption {
	text-align: center;
}

img {
	border-radius: 6px;
}

.img-style {
	width: 500px;
	height: 330px;
}

.img-project {
	max-width: 450px;
	width: 100%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.card-deck{
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 0.2rem;
}

/* Header Styles */
.header {
	overflow: hidden;
	background-color: #ffffff;
	padding: 30px 0px 0px 0px;
	z-index: 1000;
	border-bottom: 2px solid #f2f2f2;
}

.header a {
	float: left;
	color: black;
	text-decoration: none;
	font-size: 16px;
	line-height: 25px;
	border-radius: 4px;
	padding-left: 4%;
}

.header, a.logo {
	font-size: 35px;
	font-weight: 600;
	font-family: 'Poppins', 'sans-serif';
}

a:hover {
	text-decoration: none;
}

.nav {
	margin-bottom: 30px;
}

.banner {
	text-align: left;
}

.fa-linkedin, .fa-medium, .fa-dribbble, .fa-github {
	color: #C4C4C4;
	font-size: 48px;
	margin: 5px;
}

.fa-linkedin:hover, .fa-medium:hover, .fa-dribbble:hover, .fa-github:hover {
	color: #2375F0;
	transition: color 0.5s ease;
}

.container-fluid {
	width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

#resume {
	display: flex;
	justify-content: center;
}

#resume-header, #resume-time {
	color: #C4C4C4;
}

/* Buttons */
.button {
	background-color: #ffffff;
	border: solid 1px black;
	color: black;
	padding: 10px 20px 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	border-radius: 30px;
	font-family: 'Poppins', 'sans-serif';
	font-weight: 600;
	font-size: 16px;
}

.button:hover {
	background-color: #2375F0;
	color: white;
	border: solid 1px white;
	transition: 0.5s ease;
}

.responsive {
	width: 100%;
	height: auto;
}

.btn {
	font-family: 'Poppins', 'sans-serif';
	border-radius: 30px;
	background-color: #ffffff;
	border: solid 1px black;
	color: black;
	padding: 10px 15px;
	font-weight: bold;
}

/* Misc */
.hr {
	padding: 10px;
}

/* Footer */
.footer {
	padding: 30px;
	margin-top: 50px;
	border-top: 1px solid #d7d7d7;
	text-align: left;
	background-color: #ffffff;
	color: #b7b7b7;
}

.container {
	align-items: flex-start;
	width: 100%;
	margin: 0 auto;
}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}

/* Slideshow container */
.slideshow-container {
  position: relative;
  background: #ffffff;
}

/* Slides */
.mySlides {
  display: none;
  padding: 50px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #ddd;
  color: #ffffff;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
    background: #fff;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Active Dot on Slider */
.active, .dot:hover {
  background-color: #2375F0;
}

/* Quote Styling */
q {
	font-style: italic;
	font-family: 'Raleway', 'sans-serif';
	font-weight: 400;
	font-size: 16px;
}

.author {
	color: #2375F0;
	font-family: 'Raleway', 'sans-serif';
	font-size: 16px;
}

/* Responsive iframe */
.slides-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 35px;
	height: 0;
	overflow: hidden;
}

.slides-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

div.sticky {
		position: -webkit-sticky;
		position: sticky;
		top: 0;
		background-color: #F6F6F6;
		padding: 5px;
		margin-bottom: 10px;
		text-align: center;
		z-index: 1;
		padding-left: 0px;
}

.profile-image {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.card-spacing {
	padding-top: 10px;
}

.responsive {
	width: 90%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	display: block;
}

.icons {
	width: 30%;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	display: block;
	padding-bottom: 20px;
}

/* Responsive Design for Mobile */
@media only screen and (max-width: 676px) {
	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
	}

	.mobile-space-top {
		margin-top:20px;
	}

	.card-deck {
		margin-left: 40px;
		margin-right: 40px;
		display: grid;
		grid-template-columns: auto;
		grid-gap: 0.2rem;
	}

	.center {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}

}

@media only screen and (max-width: 990px) {
	.card-deck {
		margin-left: 40px;
		margin-right: 40px;
		display: grid;
		grid-template-columns: auto auto;
		grid-gap: 0.2rem;
	}
}

@media only screen and (max-width: 768px) {	
	h1 {
		text-align: center;
	}	

	.header a {
		float: none;
		padding-left: 0px;
	}

	.center {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		display: block;
		padding-top: 10px;
	}

	.card-deck {
		margin-left: 40px;
		margin-right: 40px;
		display: grid;
		grid-template-columns: auto;
		grid-gap: 0.2rem;
	}

	.responsive {
		width: 80%;
		height: auto;
		margin-left: auto;
		margin-right: auto;
		padding: 10px;
		display: block;
	}
}