@font-face {
    font-family: 'Playlist-Caps';
    src:url('../fonts/Playlist-Caps.ttf.woff') format('woff'),
        url('../fonts/Playlist-Caps.ttf.svg#Playlist-Caps') format('svg'),
        url('../fonts/Playlist-Caps.ttf.eot'),
        url('../fonts/Playlist-Caps.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playlist-Script';
    src:url('../fonts/Playlist-Script.ttf.woff') format('woff'),
        url('../fonts/Playlist-Script.ttf.svg#Playlist-Script') format('svg'),
        url('../fonts/Playlist-Script.ttf.eot'),
        url('../fonts/Playlist-Script.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

h1 {
	font-family: 'Playlist-Script', 'sans-serif';
	font-size: 40px;
}

h2 {
	font-family: 'Playlist-Caps', 'sans-serif';
	font-size: 40px;
}

p, ul, li {
	font-family: 'Quicksand', 'sans-serif';
	font-weight: 300;
}

h4 {
	font-family: 'Quicksand', 'sans-serif';
	font-size: 18px;
	font-weight: 300;
	text-align: center;
}

h1.sign-off {
	text-align: center; 
	font-size: 45px; 
	color: #ddd;
}

/* Tab Styling */
.tab-content {
	background-color: #f7f7f7;
	border-radius: 6px;
	padding: 10px;
}

.nav {
	display: block;
}

.nav-tabs {
	border-top: 1px solid #dee2e6;
	border-bottom: none;
	border-radius: 6px;
	background-color: #f7f7f7;
	padding: 10px;
}

li.tab-style {
	padding-right: 10px;
}

a.link-style {
	color: black;
}

a.link-style:hover {
	color: orange;
}

.banner {
	background-color: #F6F6F6;
	padding: 5px;
	margin-bottom: 30px;
}

/* Footer */
.footer {
	padding: 30px;
	margin-top: 50px;
	border-top: 1px solid #d7d7d7;
	text-align: left;
	background-color: #ffffff;
	color: #b7b7b7;
}