/* Font Import */
@font-face {
    font-family: 'Silhouetto-Regular';
    src:url('../fonts/Silhouetto-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

/* Tags */
h1 {
	font-family: 'Silhouetto-Regular', 'Montserrat';
	font-size: 50px;
	line-height: 1;
}

h2 {
	font-family: 'Silhouetto-Regular', 'Montserrat';
	font-size: 45px;
}

h3 {
	font-family: 'Silhouetto-Regular', 'Montserrat';
	font-size: 40px;
}

h4 {
	font-family: 'Silhouetto-Regular', 'Montserrat';
	font-size: 35px;
	font-weight: 300;
	text-align: center;
}

h5 {
	font-family: 'Silhouetto-Regular', 'Montserrat';
	font-size: 30px;
}

h5.sign-off {
	text-align: center; 
	font-size: 45px; 
	color: #ddd;
}

h6 {
	font-family: 'Montserrat', 'open-sans';
	font-size: 16px;
}	

p, ul, li {
	font-family: 'Montserrat', 'open-sans';
	font-weight: 300;
}

a {
	font-family: 'Montserrat', 'open-sans';
	font-weight: 300;
	color: #000000;
	text-decoration: underline;
}

img {
	border-radius: 4px;
}

/* Color Stroke Divider Style */
img.divider {
	width: 60%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
	padding-top: 20px;
}

img.profile {
	margin-left: auto;
	margin-right: auto;
}

img.feature {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 300px;
	height: auto;
	padding-bottom: 15px;
	vertical-align: middle;
}

img.values {
	width: 100%;
	max-width: 800px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.icon {
	width: 100px;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Mailchimp Email Signup Form */
#mailchimp {
	background: #fff;
	color: #3D6392;
}

#mailchimp .clear {
	display: inline-block;
}
	
#mailchimp input {
	border: medium none;
    color: #cecece;
    font-family: 'Raleway', 'open-sans';
    font-size: 16px;
    margin-bottom: 10px;
    padding: 8px 10px;
    border: solid 1px #e5e5e5;
    width: 300px;
		border-radius: 0px;
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;
}
		
#mailchimp input.email { 
	background: #fff 
}

#mailchimp input.name { 
	background: #fff
}

#mailchimp input[type="submit"] {

	border: none;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	text-align: center;
	transition: 0.5s;
	width: 100%;
	padding: 8px 40px;
	background-color: #28ABE1;
}
			
#mailchimp input[type="submit"]:hover {  
	background-color: #0071BC;
	transition: 0.5s ease;
}

/* Back to Portfolio */
.banner {
	background-color: #F6F6F6;
	padding: 5px;
	margin-bottom: 30px;
}

/* Center Align Class */
.center {
	text-align: center;
}

/* Footer */
.footer {
	padding: 30px;
	margin-top: 50px;
	border-top: 1px solid #d7d7d7;
	text-align: center;
	background-color: #ffffff;
	color: #b7b7b7;
}


/* Playlist Tab */
.playlist {
	background-color: #EFEFEF;
	max-height: 425px;
	border-radius: 4px;
	border-radius: 4px;
}

img.playlist-cover {
	width: 70%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

div.info {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

p.playlist-info {
	font-size: 14px;
	text-align: center;
	padding: 15px;
}

.tab {
  float: left;
  border: none;
  padding-top: 10px;
  background-color: #EFEFEF;
  width: 22%;
  height: auto;
}

.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 4px 0 0 4px;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 14px;
  font-family: 'Montserrat', 'open-sans';
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #e4e4e4;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ffffff;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  width: 78%;
  border-left: none;
  background-color: #fff;
}

/* Font Awesome Icons */
.space {
	margin-right: 10px;
	color: #D5D5D5;
	transition: 0.3s;
}

.space:hover {
	color: #28ABE1;
}

/* Responsive Designs */
@media (max-width: 768px) {
    #mc_embed_signup input.email {width:100%; margin-bottom:5px;}
    #mc_embed_signup .clear {display: block; width: 100% }
    #mc_embed_signup .button {width: 100%; margin:0; }
}

@media only screen and (max-width: 2600px) {
	img.profile, img.feature {
		margin-left: auto;
		margin-right: auto;
		display: block;
		padding-bottom: 15px;
	}

	.playlist-hidden-text {
		display: none;
	}
}

@media only screen and (max-width: 768px) {
	p {
		margin-top: 20px;
		text-align: center;
	}

	.playlist {
		display: none;
	}

	.playlist-hidden-text {
		display: inline;
		text-align: center;
		line-height: 2.5em;
	}

	.mobile-center {
		text-align: center;
		padding-bottom: 15px;
	}

	h3, h5 {
		text-align: center;
	}

	img.profile, img.feature {
		margin-left: auto;
		margin-right: auto;
		display: block;
		padding-bottom: 15px;
	}
}