body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
}

h1 {
	font-family: 'Poppins', 'sans-serif';
	font-weight: 600;
	font-size: 28px;
}

h2 {
	font-family: 'Poppins', 'sans-serif';
	font-weight: 600;
	font-size: 24px;
	color: #2375F0;
}

h3 {
	font-family: 'Poppins', 'sans-serif';
	font-weight: 400;
	font-size: 18px;
}

a {
	font-family: 'Raleway', 'sans-serif';
	font-size: 14px;
	font-weight: 400;
}

p {
	font-family: 'Raleway', 'sans-serif';
	font-size: 14px;
	font-weight: 400;
}

.header {
	overflow: hidden;
	background-color: #ffffff;
	padding: 30px 0px 15px 0px;
	z-index: 1000;
	border-bottom: 2px solid lightgray;
}

.header a {
	float: left;
	color: black;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	line-height: 25px;
	border-radius: 4px;
	z-index: 1000;
}

.header a.logo {
	font-size: 35px;
	font-weight: 600;
	font-family: 'Poppins', 'sans-serif';
	text-align: left;
}

.header-right {
	float: right;
	padding-right: 30px;
}

.content {
	padding: 20px 10px;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

.sticky + .content {
	padding-top: 120px;
}

@media screen and (max-width: 600px) {
	.header a {
		float: none;
		display: block;
		text-align: left;
	}
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.content {
	padding: 30px 50px;
}

#resume {
	display: flex;
	justify-content: center;
}

.button {
	background-color: #ffffff;
	border: solid 1px black;
	color: black;
	padding: 15px 40px 15px 40px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	border-radius: 30px;
	font-family: 'Poppins', 'sans-serif';
	font-weight: bold;
	font-size: 16px;
}

.button:hover {
	background-color: #2375F0;
	color: white;
	border: solid 1px white;
}

.navbtn {
	background-color: #ffffff;
	color: white;
}

.active {

}

.responsive {
	width: 100%;
	height: auto;
}

/* Footer */
.footer {
	padding: 20px;
	text-align: left;
	background-color: #dddddd;
}

* {
	box-sizing: border-box;
}

/* Fonts */
@font-face {
	font-family: 'Playlist-Script';
	src:url('fonts/Playlist-Script.ttf.woff') format('woff'),
		url('fonts/Playlist-Script.ttf.svg#Playlist-Script') format('svg'),
		url('fonts/Playlist-Script.ttf.eot'),
		url('fonts/Playlist-Script.ttf.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Playlist-Caps';
	src:url('fonts/Playlist-Caps.ttf.woff') format('woff'),
		url('fonts/Playlist-Caps.ttf.svg#Playlist-Caps') format('svg'),
		url('fonts/Playlist-Caps.ttf.eot'),
		url('fonts/Playlist-Caps.ttf.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}