body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
}

.card {
	background-color: white;
	padding: 20px;
	margin-top: 20px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

div.1col {

}

div.2col {
	float: left;
	width: 50%;
}

div.3col {

}

div.4col {

}

.row:after{
	content: "";
	display: table;
	clear:both;
}



footer {
	padding: 20px;
	text-align: center;
	background-color: #dddddd;
}
